In [1]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\Administrator\anaconda3\python.exe -m pip install --upgrade pip' command.

  Downloading mysql_connector_python-8.0.29-cp38-cp38-win_amd64.whl (7.7 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-4.21.1-cp38-cp38-win_amd64.whl (524 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.29 protobuf-4.21.1

In [52]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost", #host = "127.0.0.1",
    user="root",
    password="admin1234",
    database="mydemo"
    
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022F9544FBE0>

In [53]:
cursor = mydb.cursor()

cursor.execute("select * from branch")
for x in cursor:
    print(x)

('B0001', 'King Street', 'Toronto')
('B0002', 'Edmon Street', 'Calgary')
('B0003', 'French Street', 'Montreal')
('B0004', 'Thames Street', 'London')
('B0005', 'JP Nagar', 'Bangalore')
('B0006', 'Ellesmere', 'Toronto')
('B0007', 'Frazer Town', 'Bangalore')
('B0008', 'Rodes Street', 'Tibet')

In [47]:
cursor = mydb.cursor()

#cursor.execute ("CREATE TABLE user (name VARCHAR(20), address VARCHAR(20))")

In [31]:
cursor = mydb.cursor()

cursor.execute("show tables")
for x in cursor:
    print(x)

('account',)
('branch',)
('customer',)
('customersub',)
('datacustomer',)
('new_account',)
('student',)
('user',)
('users',)

In [33]:
cursor = mydb.cursor()

cursor.execute("drop table user")
cursor.execute("show tables")
for x in cursor:
    print(x)

('account',)
('branch',)
('customer',)
('customersub',)
('datacustomer',)
('new_account',)
('student',)
('users',)

In [34]:
sql = "insert into users (name, address) values (%s, %s)"
val = ("syed", "pharmacy-ellesmere")
cursor=mydb.cursor()
cursor.execute(sql,val)
mydb.commit()

print(mycursor.rowcount, "record inserted")

0 record inserted

In [35]:
cursor = mydb.cursor()

sql = "INSERT INTO users (name, address) VALUES (%s, %s)"
val = [
    ('Amira', 'Birchmount'),
    ('Niranjan', 'Finch'),
    ('Shreya', 'Kingston'),
    ('Rauf', 'Milton'),
    ('Ahad', 'Ajax'),
    ('Uzma', 'Pickering'),
    ('Imaad', 'Markham')
]
cursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "were inserted")

0 were inserted

In [36]:
cursor.execute("select*from users")
for x in cursor:
    print(x)

('syed', 'pharmacy-ellesmere')
('Amira', 'Birchmount')
('Niranjan', 'Finch')
('Shreya', 'Kingston')
('Rauf', 'Milton')
('Ahad', 'Ajax')
('Uzma', 'Pickering')
('Imaad', 'Markham')

In [37]:
cursor.execute("select count(*) from users")

for x in cursor:
    print(x)

(8,)

In [54]:
#cursor = mydb.cursor()
cursor.execute("select * from users")
result = cursor.fetchall()
for x in result:
    print (x)

('syed', 'pharmacy-ellesmere')
('Amira', 'Birchmount')
('Niranjan', 'Finch')
('Shreya', 'Kingston')
('Rauf', 'Milton')
('Ahad', 'Ajax')
('Uzma', 'Pickering')
('Imaad', 'Markham')

In [55]:
cursor=mydb.cursor()
cursor.execute("select * from users where address = 'pharmacy-ellesmere'")
result = cursor.fetchall()
for x in result:
    print(x)

('syed', 'pharmacy-ellesmere')

In [56]:
cursor=mydb.cursor()
cursor.execute("select * from users where address like '%ton'")
for x in cursor:
    print(x)

('Shreya', 'Kingston')
('Rauf', 'Milton')

In [60]:
cursor=mydb.cursor()
cursor.execute("select * from users order by name desc")
result = cursor.fetchall()
for y in result:
    print(y)

('Uzma', 'Pickering')
('syed', 'pharmacy-ellesmere')
('Shreya', 'Kingston')
('Rauf', 'Milton')
('Niranjan', 'Finch')
('Imaad', 'Markham')
('Amira', 'Birchmount')
('Ahad', 'Ajax')