In [1]:
d1 = {'guava':23, 'apple': 46, 'banana':99}

In [2]:
d1

{'guava': 23, 'apple': 46, 'banana': 99}

In [3]:
d1.keys()

dict_keys(['guava', 'apple', 'banana'])

In [5]:
d1.values()

dict_values([23, 46, 99])

In [6]:
d1['banana']= 120

In [7]:
d1

{'guava': 23, 'apple': 46, 'banana': 120}

In [8]:
t1=(2,3,4,'a')

In [9]:
t1

(2, 3, 4, 'a')

In [10]:
t1[0]

2

In [11]:
t1[0]=67

TypeError: 'tuple' object does not support item assignment

In [13]:
i=1
while (i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [1]:
i=1
n=2
while (i<=10):
    print(n*i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [3]:
i=1
n=2
while (i<=11):
    print(n*i)
    i=i+2

2
6
10
14
18
22

In [9]:
l1=[1,2,3,4]
for i in l1:
    print(i)

1
2
3
4

In [11]:
l1=[1,2,3,4]
l2=[1,2,3,4]
for i in l1:
    for j in l2:
        print(i+j)

2
3
4
5
3
4
5
6
4
5
6
7
5
6
7
8

In [14]:
def add(x):
    number = x+100
    print (number)

In [15]:
add(100)

200

In [16]:
add(2)

102